
@{
    ViewBag.Title = "Index";

}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Customer</h6>
    </div>
    <div class="card-body">

        <form id="form">
            <div class="row">

                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Customer Code</label>
                        <input type="text" name="cus_code" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Customer Name</label>
                        <input type="text" name="cus_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Address</label>
                        <textarea rows="4" type="text" name="cus_address" class="form-control" id="exampleInputPassword1" placeholder="Enter description..."> </textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contact No</label>
                        <input type="text" name="cus_contactNo" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email Address</label>
                        <input type="text" name="cus_email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tin No</label>
                        <input type="text" name="cus_tin" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>

                    <div class="row col-md-4">
                        <input type="button" id="btn-ser1" class="btn btn-primary" value="Submit">
                    </div>

                </div>
        </form>
        <div class="col-md-8 offset-md-1 col-sm-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" style="display:block; overflow-x:auto;">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Contact #</th>
                                <th>Tin</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>

                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        </div>






    </div>
</div>




@section scripts{
    <script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        var dt = null;
     dt = $('#dataTable').DataTable({

              "ajax": {
                  "url": 'http://wingsofpride619-001-site1.btempurl.com/api/Customer/GetCustomer',
                  "type": "GET",
                  "datatype": "json"
  
            },
            "columns": [
                { "data": "cus_code" },
                { "data": "cus_name" },
                { "data": "cus_address" },
                { "data": "cus_contactNo" },
                { "data": "cus_tin" },
                { "data": "cus_email" },
                {
                    "data": "id", render: function (data) {

                        return '<button type="button" class="btn btn-danger">Edit</button>'

                    }
                },


            ]




        });

        $("#btn-ser1").click(function () {
            const data = {};
            var datad = $("#form").serialize();
          
            var json = JSON.stringify($("#form").serializeArray()); //  <-----------
           
            var parse = JSON.parse(json);

            parse.map(item => {
                data[item.name] = item.value;
            })
 

            swal({
                title: "",
                text: "Are you sure you want to Add ?",
                icon: "info",
                buttons: true,
            })
                .then((s) => { 
                    if (s) {
                        $("#btn-ser1").attr("disabled", true);
                            $.ajax({
                url: '@Url.Action("InsertCustomer", "CustomerAdd")',
                data: data,
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    var res = JSON.parse(response);
                    if (res.response == "1") {
                        swal("Success", res.message, "success").then(() => {
                                  dt.ajax.reload();
                            $('#form')[0].reset();
                             $("#btn-ser1").attr("disabled", false);
                             
                     
                        });
                    }
                        else if (res.response == "2") {
                        swal("Success", res.message, "info");
                             $("#btn-ser1").attr("disabled", false);
                    }
                          else if (res.response == "3") {
                        swal("Success", res.message, "info");
                             $("#btn-ser1").attr("disabled", false);
                    }

                        $("#btn-ser1").attr("disabled", false);

                }


            })
                    } else {
                             $("#btn-ser1").attr("disabled", false);
                    }

});

        });


    </script>


}